<div class="col-md-12">

  <div class="col-md-offset-3 col-md-3 col-xs-12 text-center">
    <label for="category">Categories</label>
    <select class="form-control" name="category">
      <option>Basic 500</option>
      <option>At a restaurant</option>
      <option>On a trip</option>
    </select>
  </div>

  <div class="col-md-6 col-xs-12">
    
    <div class="col-xs-12" style="padding-top:40px">
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Learned
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Not learn
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> All
      </label>
    </div>
  </div>

  <div class="col-xs-12 text-center" style="margin-top:20px">
      <div class="col-md-offset-3 col-md-3 col-xs-6">
        <a class="btn btn-primary btn-block" href="#">Filter</a>
      </div>
      <div class="col-md-3 col-xs-6">
        <a class="btn btn-warning btn-block" href="#">PDF</a>
      </div>
  </div>

</div>

<div class="col-md-6 col-xs-12" style="margin-top:30px">
<% 100.times do %>
  <div class="col-xs-6">
    <div class="col-xs-6 text-right">きれい</div>
    <div class="col-xs-6">cute</div>
  </div>

  <div class="col-xs-6">
    <div class="col-xs-6 text-right">うつくしい</div>
    <div class="col-xs-6">Beautiful</div>
  </div>
<% end %>
</div>
<div class="col-md-6 col-xs-12 left-border" style="margin-top:30px">
<% 100.times do %>
  <div class="col-xs-6">
    <div class="col-xs-6 text-right">セクシー</div>
    <div class="col-xs-6">sexy</div>
  </div>

  <div class="col-xs-6">
    <div class="col-xs-6 text-right">すてき</div>
    <div class="col-xs-6">nice</div>
  </div>
<% end %>
</div>
