.left-border {
  @media screen and (min-width: 960px) {
    border-left: 5px solid #1b800e;
    }
}
.category-block {
  margin-top: 40px;
}



@media (min-width: 768px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25%;
  }
  .omb_login .omb_forgotPwd {
    text-align: right;
    margin-top:10px;
  }
}

.omb_login  {
  .omb_authTitle {
    text-align: center;
    line-height: 300%;
  }
  .omb_socialButtons {
    .omb_btn-facebook {background: #3b5998;}
    
    .omb_btn-twitter {background: #00aced;}
    
    .omb_btn-google {background: #c32f10;}
    a {
      color: white;
      opacity:0.9;
      :hover {
        color: white;
        opacity:1;
      }
    }
  }

  .omb_loginForm {
    .input-group.i {width: 2em;}
    .help-block {color: red;}
  }

  .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .omb_hrOr {
      background-color: #cdcdcd;
      height: 1px;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }

    .omb_spanOr {
      display: block;
      position: absolute;
      left: 50%;
      top: -0.6em;
      margin-left: -1.5em;
      background-color: white;
      width: 3em;
      text-align: center;
    }     
  }
}

#user_list {
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
  .user_box { 
    -moz-column-break-inside: avoid; 
    -webkit-column-break-inside: avoid; 
    column-break-inside: avoid; 
    display: inline-block; 
    margin: 0 2px 15px; 
    padding: 15px; 
    border: 2px solid #FAFAFA; 
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); 
    background: #FEFEFE; 
    background-image: linear-gradient(45deg, #FFF, #F9F9F9); 
  }
  &:hover { .user_box:not(:hover) {opacity: 0.4};}
  @media (min-width: 960px) {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
  @media (min-width: 1170px) { 
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }
}
