<div class="col-xs-12 category-block">
  <div class="col-xs-12 col-md-6">
    <h3><strong>Basic 500</strong> <small>You have learned 20/500</small></h3>
    <p>
      <%100.times do %> text <% end %>  
    </p>
    <div class="text-center">
        <a href="#" class="btn btn-primary btn-lg">Start</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <img src="http://www.vanroyal-hotel.com/sites/default/files/hotel-generic.jpg" class="img-thumbnail" />
  </div>
</div>

<div class="col-xs-12 category-block">
  <div class="col-xs-12 col-md-6">
    <img src="http://www.lifepapers.sg/wp-content/uploads/112634237-%C2%A9-shutterstock.com-Artens-_3.jpg" class="img-thumbnail" />
  </div>

  <div class="col-xs-12 col-md-6">
    <h3><strong>On a Trip</strong> <small>You have learned 20/100</small></h3>
    <p>
      <%100.times do %> text <% end %>  
    </p>
    <div class="text-center">
        <a href="#" class="btn btn-primary btn-lg">Start</a>
    </div>
  </div>

</div>

<div class="col-xs-12 category-block">
  <div class="col-xs-12 col-md-6">
    <h3><strong>At a restaurant</strong> <small>You have learned 20/200</small></h3>
    <p>
      <%100.times do %> text <% end %>  
    </p>
    <div class="text-center">
        <a href="#" class="btn btn-primary btn-lg">Start</a>
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <img src="http://www.bobbyflaysteak.com/files/d28afc58c82bc17f2e18cef8212265c6_full_size.jpg" class="img-thumbnail" />
  </div>
</div>
