<p><%= t('devise.mailer.hello', email: @resource.email)%></p>

<p><%= t('devise.mailer.reset_password_instructions.message') %></p>

<p><%= link_to t('devise.mailer.reset_password_instructions.change_pass'), edit_password_url(@resource, reset_password_token: @token) %></p>

